<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Produto" [(ngModel)]="produto.produto" name="produto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Marca" [(ngModel)]="produto.marca" name="marca">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor" [(ngModel)]="produto.valor" name="valor">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="criarProduto()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>