<mat-card>
    <mat-card-title>Nova Senha</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="senha.senha" name="senha">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data" [(ngModel)]="senha.data" name="data">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Empresa" [(ngModel)]="senha.empresa" name="empresa">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="criarSenha()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>